{% extends "base.html" %}

{% block content %}
    <h1>Login page</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Submit">
    </form>
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% endif %}
{% endblock %}
